<div class="avatar">
  <img src="./assets/img/face.jpg" class="img-thumbnail rounded-circle" alt="Steve's face" style="height:auto" />
  <div>
    <h3>Steve Nguyen</h3>
    <h6>Software Developer <i class="fa-regular fa-star fa-xs"></i> 3 years</h6>
  </div>
</div>
<div class="side-panel-1">
  <mat-list>
    <mat-list-item>
      <i class="fa-regular fa-building icon-space"></i>
      <p class="justify-content-center">Patient Zero Pty Ltd</p>
    </mat-list-item>
    <mat-list-item>
      <i class="fa-solid fa-location-dot icon-space"></i>
      <p>Australia</p>
    </mat-list-item>
    <mat-list-item>
      <i class="fa-solid fa-link icon-space fa-xs"></i><a href="https://www.pz.com.au/">https://www.pz.com.au</a>
    </mat-list-item>
  </mat-list>
</div>
<div class="side-panel-2">
  <h5>Media</h5>
  <mat-chip-list class="social-media">
    <mat-chip>
      <a href="https://www.linkedin.com/in/steve-nguyen-390721225/"><i class="fa-brands fa-linkedin fa-2x"></i></a>
    </mat-chip>
    <mat-chip color="primary">
      <a href="https://github.com/stevenguyen18595"><i class="fa-brands fa-square-github fa-2x"></i></a>
    </mat-chip>
    <mat-chip>
      <a href="https://www.codingame.com/profile/1b335d121ba930de215aaef0dba7eb567923844"><i
          class="fa-solid fa-gamepad fa-2x"></i></a>
    </mat-chip>
    <mat-chip>
      <a href="https://leetcode.com/stevenguyen18595/">
        <mat-icon svgIcon="leet-code" class="icon">leet-code</mat-icon>
      </a>
    </mat-chip>
  </mat-chip-list>
</div>
<div class="side-panel-3">
  <h5>Contact</h5>
  <p><i class="fa-solid fa-envelope icon-space"></i>stevenguyen18595@gmail.com</p>
</div>
