/* You can add global styles to this file, and also import other style files */
@import "./node_modules/@fontsource/dejavu-sans";
$background-color: black;
//---------------------------------------------------
$primary-font-color: white;
$primary-font: "DejaVu Sans";

// ---------------------------------------------------
$secondary-color: #4b7470;
body {
  background-color: $background-color !important;
  color: $primary-font-color !important;
  font-family: $primary-font !important;
}
