<section class="timeline_area ">
  <div class="row">
    <div class="col-12">
      <!-- Timeline Area-->
      <div class="apland-timeline-area">
        <!-- Single Timeline Content-->
        <div class="single-timeline-area">
          <div class="timeline-date fadeInLeft" data-wow-delay="0.1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
            <div>
              <p>April 2022</p>
              <mat-icon>timeline</mat-icon>
              <p>April 2023</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
              <div class="single-timeline-content d-flex" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                <div class="timeline-icon">
                  <mat-icon>school</mat-icon>
                </div>
                <div class="timeline-text">
                  <h3>Performance Education</h3>
                  <p>Professional Training & Coaching Program</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Timeline Content-->
        <div class="single-timeline-area">
          <div class="timeline-date fadeInLeft" data-wow-delay="0.1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
            <div>
              <p>July 2020</p>
              <mat-icon>timeline</mat-icon>
              <p>July 2021</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
              <div class="single-timeline-content d-flex" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                <div class="timeline-icon">
                  <mat-icon>school</mat-icon>
                </div>
                <div class="timeline-text">
                  <h3>Queensland University Of Technology</h3>
                  <p>Postgraduate Certificate - major: Applied Finance</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Timeline Content-->
        <div class="single-timeline-area">
          <div class="timeline-date fadeInLeft" data-wow-delay="0.1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
            <div>
              <p>July 2020</p>
              <mat-icon>timeline</mat-icon>
              <p>July 2021</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
              <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                <div class="timeline-icon">
                  <mat-icon>school</mat-icon>
                </div>
                <div class="timeline-text">
                  <h3>University Of Queensland</h3>
                  <p>Bachelor Of Software Engineer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
