<div class="introduction-box mt-6">
  <p class="title">About me</p>
  <mat-list>
    <mat-list-item>
      <mat-icon class="icon" svgIcon="heart-icon"></mat-icon>
      <p> I am interested in
        cloud-related
        tech
        stacks</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon class="icon" svgIcon="firework-icon"></mat-icon>
      <p>Ability to catch up with new tech stack quickly</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon class="icon" svgIcon="speak-icon">speak-icon</mat-icon>
      <p>Good communication skills</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon class="icon" svgIcon="skill-icon"></mat-icon>
      <p>Good at time management</p>
    </mat-list-item>
  </mat-list>
</div>
