<!-- -------------------------------introduction session-------------------------------- -->
<div class="introduction-box">
  <div class="row g-0">
    <mat-list>
      <mat-list-item>
        <mat-icon class="icon" svgIcon="heart-icon"></mat-icon>
        <p>I am interested in cloud-related tech stacks</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icon" svgIcon="firework-icon"></mat-icon>
        <p>Ability to catch up with new tech stack quickly</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icon" svgIcon="speak-icon">speak-icon</mat-icon>
        <p>Good communication skills</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icon" svgIcon="skill-icon"></mat-icon>
        <p>Good at time management</p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<!-- ---------------------------Skill Session--------------------------------------------------------- -->
<div class="skill-session mt-4">
  <div class="title">Skills</div>
  <mat-chip-list #chipList aria-label="skill selection">
    <mat-chip *ngFor="let skill of skills">
      {{ skill }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-list>
</div>
<!-- ------------------------------Employment History---------------------------------------------------------- -->
<div class="row employment-history mt-4">
  <div class="title">Employment</div>
  <div class="col-xl-12 col-lg-12 mt-3 col-md-12 col-sm-8">
    <div class="history">
      <div class="business-name mt-2">
        <mat-icon> business</mat-icon>
        <h4>Patient Zero Pty Ltd</h4>
        <p>Jan 2022</p>
        <mat-icon>timeline</mat-icon>
        <p>present</p>
      </div>
      <p>
        As a Developer, I’m part of a cross functional team that delivers
        working software for clients that helps them solve real business
        problems.
      </p>
    </div>
    <div class="history mt-3">
      <div class="business-name mt-2">
        <mat-icon> business</mat-icon>
        <h4>Insurebot Pty Ltd</h4>
        <p>Aug 2021</p>
        <mat-icon>timeline</mat-icon>
        <p>Jan 2022</p>
      </div>
      <p>
        As a developer, I am part of a team building beautiful software that
        automates the insurance broker function.
      </p>
    </div>
  </div>
</div>
<!-- -------------------------------------Education History---------------------------------------------------- -->

<div class="education-history">
  <div class="title">Education</div>
  <app-time-line></app-time-line>
</div>
