@use "../../styles.scss";

$spacer: 1rem;
.title {
  margin-top: 1rem;
  margin-left: 0rem;
  margin-bottom: 1rem;
}
.introduction-box {
  border: 1px solid styles.$primary-color;
  border-radius: 6px;
}
.mt-6 {
  margin-top: ($spacer * 5);
}
.icon {
  margin-left: $spacer * 2;
  margin-right: $spacer;
}
.icon2 {
  margin-right: $spacer;
}

:host::ng-deep {
  & mat-list-item.mat-list-item {
    height: 30px;
  }
  & mat-list {
    margin-bottom: 1rem;
  }
  & mat-chip {
    background-color: styles.$secondary-color;
    &:hover {
      background-color: styles.$grey-0;
    }
  }
}
p {
  margin: 0;
  text-align: middle;
}
