@use "../../styles.scss";

$spacer: 1rem;


:host::ng-deep {
  & mat-list-item.mat-list-item {
    height: 30px;
  }
  & mat-list {
    margin-bottom: 1rem;
  }
  & mat-chip {
    background-color: styles.$secondary-color;
    &:hover {
      background-color: styles.$grey-0;
    }
  }
}
p {
  margin: 0;
  text-align: middle;
}

.title {
  margin-top: 1rem;
  margin-left: 0rem;
  margin-bottom: 0.6rem;
}
.introduction-box {
  border: 1px solid styles.$primary-color;
  border-radius: 6px;
}
.mt-6 {
  margin-top: ($spacer * 5);
}
.icon {
  margin-left: $spacer * 2;
  margin-right: $spacer;
}
.icon2 {
  margin-right: $spacer;
}

.history{
  min-height:105px;
  min-width:415px;
  border: 0.5px solid styles.$primary-color;
  border-radius: 5px;
  & > p {
    margin-left:0.6rem;
    margin-top:0.5rem;
  }
}
.business-name{
  display: flex;
  align-items: center;
  & h4{
    color: styles.$secondary-color;
    font-weight: 700;
    margin:0px;
    margin-right:1rem;
  }
  & mat-icon{
    margin-left:0.5rem;
    margin-right:0.5rem;
  }
}
.education-history{
  margin-top: 0rem;
}
@media only screen and (max-width: 600px){
  div.introduction-box{
    margin-top: 0rem !important;
  }
  p{
    font-size: 12px;
  }
  .icon {
    margin-left: $spacer/3;
    margin-right: $spacer;
  }
  .history{
    min-height:105px;
    min-width:36px;
    border: 0.5px solid styles.$primary-color;
    border-radius: 5px;
    & > p {
      margin-left:0.6rem;
      margin-top:0.5rem;
    }
  }
  :host::ng-deep{
    & mat-chip.mat-chip{
      font-size: 11px;
    }

  }
}