@use "../../styles.scss";


button {
  background-color: styles.$secondary-color;
  color: styles.$primary-color;
  display: flex;
  border-radius: 7px;
  &:hover{
    background-color: styles.$grey-0;
  }
}
p {
  margin: 0px;
  margin-left: 0.4rem;
  line-height: 24px;
}
nav {
  margin-top: 2.5rem;
  border-bottom: 1px solid styles.$primary-color;
}

li {
  &.nav-item:active {
    color: styles.$primary-color;
    background-color: styles.$grey-0;
    border-radius: 10px;
    border-bottom: 1px solid white;
  }
  &.nav-item:active {
    border-bottom: 1px solid white;
  }
  &.nav-item:visited {
    border-bottom: 1px solid white !important;
  }
  &.nav-item.selected {
    border-bottom: 1px solid white !important;
  }
}

@media only screen and (max-width:600px){
  nav{
    border-bottom: none;
    padding:0px;
  }
}