@use "../../styles.scss";
nav {
  background-color: black !important;
  margin-top: 2rem;
}
a {
  color: white;
  &:hover {
    color: white;
    background-color: #4b7470;
  }
}
hr {
  background-color: styles.$primary-color !important;
  height: 2px !important;
}
