// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* You can add global styles to this file, and also import other style files */
@import "./node_modules/@fontsource/dejavu-sans";
$background-color: black;
//---------------------------------------------------
$primary-font-color: white;
$primary-font: "DejaVu Sans";
$secondary-font-color: #4b7470;
// ---------------------------------------------------
$primary-color: white;
$secondary-color: #4b7470;
//----------------------------------------------------
$grey-0: #4c4c4c;

body {
  background-color: $background-color !important;
  color: $primary-font-color !important;
  font-family: $primary-font !important;
}

html,
body {
  
  width: 100%;
  overflow-x: hidden;

}
body {


  font-family: Roboto, "Helvetica Neue", sans-serif;

}

p {
  font-size: 14px;
}

hr {
  border: 1px solid $primary-color !important;
}
